views/index.jade
extends layout

block content
		.col-xs-12
			nav.navbar-default
				.container-fluid
					.navbar-header
						button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') CyberArms
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right
							li.nav-item.active.navz
								a.navz(href="/") Home
							li.nav-item.dropdown.navz
								a.dropdown-toggle.navz.nav-link(href="/", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
										| Download 
										span.caret
									ul.dropdown-menu
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/software") Software
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/movies") Movies
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/tv") TV
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/games") Games
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/music") Music
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/books") Books
							li.nav-item.navz
								a.navz.nav-link(href="/upload") Upload
							li.nav-item.navz
								a.navz.nav-link(href="/about") About
							li.nav-item.navz
								a.navz.nav-link(href="/contact") Contact
		.container-fluid.text-xs-center
			hr
			hr
			hr
			hr
			hr
			.jumbotron
				.page-header
					h1.stuff16 Cyber Arms
					hr
					h2.stuff17 A good repository for "bad" data
					hr
					button.btn.btn-lg-sharp.pull-right.stuff3
						a.stuff4(href='/download') Download things
					button.btn.btn-lg-sharp.pull-left.stuff5
						a.stuff6(href='/upload') Upload things

index.html
<!DOCTYPE html><html><head></head><title></title><link rel="stylesheet" href="/stylesheets/fontello.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"><link rel="stylesheet" href="/stylesheets/proxima_nova_semibold.css"><link rel="stylesheet" href="/stylesheets/proxima_nova_extrabold.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"><link rel="stylesheet" href="/stylesheets/main.css" type="text/css"><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script><meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"><meta charset="utf-8"><meta name="description" content="A good archive of &quot;bad&quot; data"><meta name="author" content="Caesar"><div class="body"><div class="col-xs-12"><nav class="navbar-default"><div class="container-fluid"><div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">CyberArms</a></div><div id="navbar" class="navbar-collapse collapse"><ul class="nav navbar-nav navbar-right"><li class="nav-item active navz"><a href="/" class="navz">Home</a></li><li class="nav-item dropdown navz"><a href="/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle navz nav-link">Download <span class="caret"></span></a><ul class="dropdown-menu"><li class="nav-item navz stuff14"><a href="#" class="navz stuff14 nav-link">Item 1</a></li><li class="nav-item navz stuff14"><a href="#" class="navz stuff14 nav-link">Item 2</a></li></ul></li><li class="nav-item navz"><a href="/" class="navz nav-link">Upload</a></li><li class="nav-item navz"><a href="/" class="navz nav-link">About</a></li><li class="nav-item navz"><a href="/" class="navz nav-link">Contact</a></li></ul></div></div></nav></div></div><section id="wrapper"><div class="container-fluid text-xs-center"><div class="jumbotron"><div class="page-header"><h1 class="stuff">Cyber Arms</h1><hr><h2 class="stuff2">A good repository for "bad" data</h2><hr><button class="btn btn-lg-sharp pull-right stuff3"><a href="#" class="stuff4">Download things</a></button><button class="btn btn-lg-sharp pull-left stuff5"><a href="#" class="stuff6">Upload things</a></button></div></div></div></section><footer><div class="container"><div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"><hr></div><p id="foot1" class="copyright text-muted label label-default">Copyright © 2017 The CyberArms Project<hr></p><p id="foot2" class="copyright text-muted label label-default">Powered by a whole lot of coffee.<hr></p><p id="footico" class="label label-default stuff8"><a href="https://github.com/TheArsenal/cyberarms.github.io"><i class="icon-github-circled foooot fa a span1"></i></a><a href="https://reddit.com/r/cyberarms/"><i class="icon-reddit foooot fa span1"></i></a><a href="#"><i class="icon-rss-squared foooot fa span1"></i></a><a href="mailto:stuff@cyberarms.gq"><i class="icon-mail-alt fa span1"></i></a></p></div></footer><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-106750073-1"></script><script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());
gtag('config', 'UA-106750073-1');</script></html>
